.Rproj.user
.Rhistory
.RData
.Ruserdata
Day_3_Labs/Relatedness_and_IBD_Lab.nb.html
Day_1_Labs/Hardy-Weinberg_Proportions_Lab.md
Day_1_Labs/Hardy-Weinberg_Proportions_Lab.Rmd
Day_1_Labs/HWP_and_Linkage_Disequilibrium_Lab.nb.html
Day_1_Labs/Heterozygosity_Inbreeding_Lab.nb.html
Day_1_Labs/Hardy-Weinberg_Proportions_Lab.nb.html
Day_1_Labs/Linkage_Disequilibrium_Lab.nb.html
Day_2_Labs/BayeScan_Lab.nb.html
Day_2_Labs/.BayPass_Lab_1.nb.html
Day_2_Labs/BayPass_Lab_2.nb.html
Day_3_Labs/PCA_Lab.nb.html
Day_3_Labs/Fst_Lab.nb.html
Answer_Keys/BayPass_Key_2.Rmd
Answer_Keys/BayeScan_Key.Rmd
Answer_Keys/HWP_and_Linkage_Disequilibrium_Key.Rmd
Answer_Keys/PCA_Key.Rmd
Answer_Keys/Relatedness_and_IBD_Key.Rmd
PIRE_Bioinformatics.Rproj