.Rproj.user
.Rhistory
.RData
.Ruserdata
Day_3_Labs/Relatedness_and_IBD_Lab.nb.html
Day_1_Labs/Heterozygosity_Inbreeding_Lab.nb.html
Day_1_Labs/Hardy-Weinberg_Proportions_Lab.nb.html
Day_1_Labs/Linkage_Disequilibrium_Lab.nb.html
Day_2_Labs/BayeScan_Lab.nb.html
Day_2_Labs/BayPass_Lab_1.nb.html
Day_2_Labs/BayPass_Lab_2.nb.html
Day_3_Labs/PCA_Lab.nb.html
Day_3_Labs/Fst_Lab.nb.html
PIRE_Bioinformatics.Rproj